{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "it": true,
        "fit": true,
        "shallow": true,
        "render": true,
        "test": true
    },
    "extends": ["airbnb", "airbnb/hooks"],
    "parser": "babel-eslint",
    "settings": {
        "import/core-modules": [
            "App",
            "route",
            "reactApplication"
        ],
        "import/resolver": {
            "node": {
                "paths": [
                    "./server",
                    "./src",
                    "./config"
                ]
            }
        }
    },
    "rules": {
        "arrow-body-style": [
            0,
            "never"
        ],
        "arrow-parens": [
            0,
            "never"
        ],
        "react/no-multi-comp": [
            2,
            {
                "ignoreStateless": false
            }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.stories.js",
                    "**/*.test.js"
                ]
            }
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [
                    "Link"
                ],
                "specialLink": [
                    "to"
                ],
                "aspects": [
                    "noHref"
                ]
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "controlComponents": ["Checkbox"],
                "depth": 3,
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "./*.js",
                "./ci/**/*.js"
            ],
            "rules": {
                "no-console": "off"
            }
        }
    ]
}
